PORT=yourPort
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=yourDB

SECRET_JWT=

SMTP_HOST=
SMTP_PORT=
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM=

APP_DOMAIN=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=


